<h2>Nuevo tatuaje</h2>

<form method="post">
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" /><br />
    <label>Autor</label>
    <input type="text" name="autor" class="form-control" /><br />
    <label>Tamaño</label>
    <input type="text" name="size" class="form-control" /><br />
    <label>Color</label>
    <input type="text" name="color" class="form-control" /><br />
    <label>Precio</label>
    <input type="number" name="precio" class="form-control" /><br />
    <label>Imagen</label>
    <input type="text" name="imagen" class="form-control" /><br />
    <button type="submit" class="btn btn-success">
        Crear un nuevo tatuaje
    </button>
</form>