<h1>Registrar un nuevo usuario</h1>
<div class="row" style="border: 3px double;">
    <div class="col-6">
        <form method="post">
            <label>Nombre</label>
            <input type="text" name="unombre" class="form-control" /><br />
            <label>Password</label>
            <input type="text" name="upass" class="form-control" /><br />
            <label>Edad</label>
            <input type="number" name="uedad" class="form-control" /><br />
            <label>Salud</label>
            <input type="text" name="usalud" class="form-control" /><br />
            <label>Hamburguesas favoritas</label>
            <input type="text" name="ufhambur" class="form-control" /><br />
            <label>Aperitivos favoritos</label>
            <input type="text" name="ufape"  class="form-control" /><br />
            <label>Vinos favoritos</label>
            <input type="text" name="ufvinos" class="form-control" /><br />
            <label>Cesta</label>
            <input type="number" name="ucesta" class="form-control" /><br />
            <label>Telefono</label>
            <input type="number" name="utelefono" class="form-control" /><br />
            <label>Corre</label>
            <input type="text" name="ucorre" class="form-control" /><br />
            <label>Redes sociales</label>
            <input type="text" name="urrss"  class="form-control" /><br />
            <label>Rol</label>
            <input type="text" name="urol"  class="form-control" /><br />
            <button type="submit" class="btn btn-success">
                Registrar nuevo usuario
            </button>
        </form>
    </div>
</div>
