@{
    ViewData["Title"] = "Home Page";
}
<br />
    <div class="row">
        <h1>Bienvenido a la tienda</h1>
    </div><br />
    <div class="row" style="text-align:center;color:black;background-color:white; border-radius:25px;">
        <a class="btn btn-info" asp-action="Index" asp-controller="Materiales">VER MATERIALES</a>
        <img class="img-thumbnail" src="https://image.flaticon.com/icons/png/128/2784/2784580.png" /><br />
    </div><br />
    <div class="row" style="text-align:center;color:black;background-color:white; border-radius:25px;">
        <a class="btn btn-info" asp-action="Index" asp-controller="Tatuajes">VER TATUAJES</a>
        <img class="img-thumbnail" src="https://image.flaticon.com/icons/png/128/1686/1686442.png" /><br />
    </div><br />
    <div hidden class="row" style="text-align:center;color:black;background-color:white; border-radius:25px;">
        <a class="btn btn-info" asp-action="Index" asp-controller="Tiendas">VER TIENDAS</a>
        <img class="img-thumbnail" src="https://image.flaticon.com/icons/png/128/746/746900.png" /><br />
    </div><br />
          <div hidden>
              <div class="row" style="text-align:center;color:black;background-color:white; border-radius:25px;">
                  <a class="btn btn-info" asp-action="" asp-controller="Usuarios">VER PERFIL</a>
                  <img class="img-thumbnail" src="https://image.flaticon.com/icons/png/128/4470/4470344.png" /><br />
              </div>
          </div>
    <div hidden class="row" style="text-align:center;color:black;background-color:white; border-radius:25px;">
        <a class="btn btn-info" asp-action="Vitrinas" asp-controller="Home">VITRINAS</a>
        <img class="img-thumbnail" src="https://image.flaticon.com/icons/png/128/1605/1605106.png" /><br />
    </div>
<br />
