
<h1>Bienvenido a las secciones</h1>
<br />
<div>
    <nav>
        <a class="nav-link dropdown-toggle btn btn-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Desplegable
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-controller="" asp-action="">
                Ver 
            </a>
        </div>
    </nav>
</div>
<br />
<h3>SECCION</h3>
<div class="row" style="background-color: #1515bb82; align-items:center;">
    
        <div class="col-5" style="margin:10px;">            
            <div class="row">Nombre</div>
            <div class="row">Precio €</div>
            <div class="row">
                <a asp-controller="" asp-action=""
                   class="btn btn-primary">
                    Visitar web
                </a><br />
                <a asp-controller="" asp-action=""
                   class="btn btn-info">
                    Detalles
                </a><br />
                <a asp-controller="" asp-action="">
                    <b>Añadir a favoritos</b>
                </a><br />
            </div>
        </div>
        <div class="col-5">
            <img src="Imagen" width="200"/>
        </div>
</div>
<br />

