<h1>Crear una nueva cita</h1>

<form method="post">
    <label>Nombre del tatuaje</label>
    <input type="text" name="nombre" class="form-control" /><br />
    <label>Asignar el identificador del tatuador que se realizara el diseño</label>
    <input type="number" name="idtatuador" class="form-control" /><br />
    <label>Tatuador (nombre real/artistico)</label>
    <input type="text" name="tatuador" class="form-control" /><br />
    <label>Fecha</label>
    <input type="text" name="fecha" class="form-control" /><br />
    <label>Comentarios (si tiene alguna anotacion o algo que destacar)</label>
    <input type="text" name="comentarios" class="form-control" /><br />
    <button type="submit" class="btn btn-success">
        Crear una nueva cita
    </button>
</form>

